.news {
	font-size: 18px;
}

.news__wraper {
	.container();

	padding-top: 67px;
	padding-bottom: 28px;

	color: #000000;
	background-color: @bg-lightgrey;
	border-bottom: 1px dashed grey;
}

.news__title {

}

.news__items {
	margin: 0;
	padding: 0;
	padding-bottom: 7px;

	list-style: none;
}

.news__item {
	margin: 0 20px;
	margin-bottom: 16px;
	padding-bottom: 18px;
	padding-left: 69px;

	// для сетки
	outline: 1px dotted navy;
}

.news__item:nth-child(n+3) {
	display: none;
}

.news__item:nth-child(2) {
	padding-bottom: 0;
}

.news__to-all {

}

@media @tablet-widths {

	.news {
		padding-top: 90px;
		padding-bottom: 28px;

		color: #000000;
		background-color: @bg-lightgrey;
	}

	.news__wraper {
		padding: 0;
	}

	.news__title {
		margin-right: 200px;
		margin-bottom: 55px;
	}

	.news__items {
		font-size: 0;
	}

	.news__item {
		display: inline-block;
		width: 220px;
		margin: 0;
		padding: 0 30px;
		padding-left: 69px;

		vertical-align: top;
		font-size: 18px;
	}

	.news__to-all {

	}

}

@media @desktop-widths {

	.news {
		padding-top: 88px;
		padding-bottom: 32px;
	}

	.news__wraper {

	}

	.news__title {
		margin-left: 70px;
	}

	.news__items {

	}

	.news__item {

	}

	.news__item:nth-child(n+3) {
		display: inline-block;
	}

	.news__to-all {

	}

}