.page-header {
	// для сетки
	// outline: 1px dotted yellow;
}

.page-header__logo {
	height: 85px;

	text-align: center;
}

.page-header__logo img {
	width: 230px;
	height: 85px;
}

@media @tablet-widths {
	
	.page-header {
		// position: relative;
		display: flex;
		flex-direction: column;

		// min-height: 70px;         /* мин высота содерж. */
		// padding-bottom: 400px; 

		background-color: #000000;
	}

	.page-header__logo {
		order: 2;
		// position: absolute;
		// bottom: 0;

		position: relative;
		
		width: 100%;
		height: 400px;

		// background-color: #000000;
		background-color: #292929;
		background-image: url("../img/bg-tablet-inner.jpg");
		background-repeat: no-repeat;
		background-position: center -9px;	
		background-size: cover;	
	}

	.page-header__logo img {
		position: absolute;
		bottom: 257px;
		left: 50%;

		width: 370px;
		height: auto;

		transform: translateX(-50%);
	}
	
	// стили для внутренних страниц
	.inner-page .page-header__logo {
		.polygon();

		height: 214px;	

		// &::after {
		// 	content: "";

		// 	position: absolute;
		// 	bottom: 0;
		// 	left: 0;
		// 	right: 0;
		// 	height: 41px;

		// 	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 45' preserveAspectRatio='none'><polygon points='0,0 0,45 600,45 600,0 300,45' style='fill:rgb(248,245,242);stroke:none;' /></svg>");
		// 	background-size: 100% 41px;		
		// }
	}

	.inner-page .page-header__logo img {
		bottom: 70px;
	}

}

@media @desktop-widths {
	
	.page-header {
		// padding-bottom: 648px;
	}
	
	.page-header__logo {
		height: 648px;

		background-image: url("../img/bg-desktop-inner.jpg");
		background-position: center 0;	
		background-size: cover;	
	}

	.page-header__logo img {
		bottom: 438px;
	}

	// стили для внутренних страниц
	.inner-page .page-header__logo {
		height: 307px;		

		// &::after {
		// 	height: 65px;

		// 	background-size: 100% 65px;	
		// }
	}

	.inner-page .page-header__logo img {
		bottom: 99px;
	}

}
